<!DOCTYPE html>
<h1>Hangman!</h1>
<h3>Enter the word to begin:</h3>
<form action='/hangman/new' method='post'>
    <label for='new-hangman'>The Secret Word:</label>
    <input id='new-hangman' name='new-hangman' type='text'>
    <button type='submit'>Start Hangman!</button>
</form>
