<h1>Hangman</h1>

<p>The word so far: @HitLetters()</p>

<form action='/hangman' method='post'>
    <label for='new-letter'>Your Letter Guess:</label>
    <input id='new-letter' name='new-letter' type='text'>
    <button type='submit'>Submit!</button>
</form>
